@model IEnumerable<Renteal_Car.Models.Custamer>

@{
    ViewData["Title"] = "Index";
}

<style>
   
    body {
        background-image: url("https://www.bmwusa.com/content/dam/bmw/common/vehicles/2024/my25/4-series/overview/desktop/BMW-MY25-4Series-ModelsPage-Hero-Desktop.jpg");
        background-size: cover;
        background-position: center;
        color: white;
        height: 100%; 
    }

    
    .container {
        padding: 20px;
        opacity: 0.9;
    }

    
    .card {
        background-color: rgba(255, 255, 255, 0.4);
        color: white;
        border-radius: 15px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    
    .table th {
        color: #ffc107;
    }

   
    .table td {
        vertical-align: middle;
    }


    .action-link {
        color: #007bff; 
        text-decoration: none;
        margin-right: 10px;
    }

         
        .action-link:hover {
            color: #0056b3; 
        }
</style>

<div class="container">
    <h1 class="text-center mt-5">Customers List</h1>
    <p class="text-center">
        <a asp-action="Create" class="btn btn-primary">Create New Customer</a>
    </p>
    <div class="row justify-content-center">
        <div class="col-md-8">
            @foreach (var item in Model)
            {
                <div class="card">
                    <h4>@item.CustmerName</h4>
                    <p>Contact Info: @item.ContactInfo</p>
                    <div class="text-end">
                        <a asp-action="Edit" asp-route-id="@item.CustmerId" class="action-link btn btn-secondary" style="background-color:white">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.CustmerId" class="action-link btn btn-secondary" style="background-color:white">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.CustmerId" class="action-link btn btn-secondary" style="background-color:white">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
